.foot {
  padding: 75px 0;
  background: #3a3a3a;
  &__list {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 252px;
    address {
      margin: 0;
    }
  }
  &__title {
    text-align: left;
    margin-bottom: 10px;
    color: #ffffff;
  }
  &__text {
    color: #bcbbbb;
    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }
}
