.work {
  &__list {
    display: grid;
    margin: 0 auto;
    grid-gap: 22px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    margin-bottom: 30px;
    @media (max-width: 459px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__item {
    position: relative;
    max-width: 358px;
  }
  &__text {
    position: absolute;
    bottom: 10px;
    font-family: "Montserrat";
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
  }
  &__img {
    display: grid;
    width: 100%;
    height: 100%;
    @media (max-width: 459px) {
      display: block;
      margin: 0 auto;
    }
  }
}
